MONGODB_URI=mongodb+srv://surajprafulla27_db_user:UOKi06D4IJK7DBWO@cluster0.jdzwvuw.mongodb.net/?appName=Cluster0
GROQ_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6LRve83WcLMNVGtvoGtDcvGsshjuSj9GlViypgH4zyWUw
JWT_SECRET=supersecretnagrikaijwtsecretkey2026!
PORT=8000
